* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #090b1a;
  color: #fff;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container header {
  background-color: #1b1938;
  width: 83vw;
  max-width: 1200px;
  display: flex;
  border-radius: 5px;
}
.container header .text {
  width: 50%;
  padding: 70px 100px 70px 70px;
}
.container header .text h1 {
  font-family: "Inter", sans-serif;
  font-font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.container header .text h1 span {
  color: #aa5cdb;
}
.container header .text p {
  font-family: "Inter", sans-serif;
  font-font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  padding: 0 50px 100px 0;
  color: rgba(255, 255, 255, 0.75);
}
.container header .text .data-row {
  display: flex;
  justify-content: space-between;
}
.container header .text .data-row .data h6 {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-font-weight: 400;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.container header .text .data-row .data h6 span {
  display: block;
  font-family: "Inter", sans-serif;
  font-font-weight: 700;
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  color: #fff;
  margin-bottom: 5px;
}
.container header .wrap {
  height: auto;
  position: relative;
  overflow: hidden;
  width: 50%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.container header .wrap img {
  height: 100%;
  min-width: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.container header .wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #aa5cdb;
  mix-blend-mode: multiply;
  opacity: 1;
  z-index: 1;
}

@media (max-width: 1200px) {
  .container {
    height: auto;
    display: block;
    margin: 70px auto;
  }
  .container header {
    flex-direction: column-reverse;
    text-align: center;
    width: auto;
    margin: 100px 20vw;
  }
  .container header .text {
    width: 100%;
    padding: 8vw 10vw 10vw 10vw;
  }
  .container header .text h1 {
    font-size: 28px;
  }
  .container header .text p {
    padding: 0 20px 50px 20px;
    font-size: 15px;
    line-height: 25px;
  }
  .container header .text .data-row {
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
  .container header .text .data-row .data {
    margin-bottom: 0;
  }
  .container header .text .data-row .data h6 {
    font-size: 10px;
  }
  .container header .text .data-row .data h6 span {
    font-size: 18px;
  }
  .container header .wrap {
    height: 260px;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
  }
  .container header .wrap img {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
  }
}
@media (max-width: 699px) {
  .container header {
    align-items: center;
    width: 85vw;
    margin: auto;
  }
  .container header .text {
    max-width: 400px;
    padding: 40px 20px 20px 20px;
  }
  .container header .text .data-row {
    flex-direction: column;
  }
  .container header .text .data-row .data {
    margin-bottom: 30px;
  }
  .container header .wrap img {
    width: auto;
    height: 100%;
  }
}
@media (orientation: landscape) and (max-height: 800px) {
  header {
    margin-top: 15vh;
  }

  .attribution {
    margin-bottom: 15vh;
  }
}/*# sourceMappingURL=style.css.map */